* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

/* ---------- MAIN NAVIGATION ---------- */
.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.main-nav {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    padding-right: 10px;
}

.container {
    margin: 50px auto;
    display: block;
    padding: 10px 15px;
    background: #f6e3db;
    border-radius: 10px;
    box-shadow: 0 1.5px 0 0.5px rgba(0, 0, 0, 0.1);

}

.box {
    padding: 10px;
    color: #fff;
    border-radius: 2px;
}

.box-1 {
    background: #e51400; 
   /* flex-grow: 1; */
}
.box-2 {background: #fa6800;}
.box-3 {background: #f0a30a; }
.box-4 {background: #e3c800; }
.box-5 {background: #a4c400;}
.box-6 {background: #60a917;}
.box-7 {background: #00aba9;}
.box-8 {background: #1ba1e2;} 
.box-9 {background: #aa00ff;}